<footer class="bg-white text-center lg:text-left w-full fixed bottom-0">
    <div class="text-black text-center p-4 font-mono">
        Bhavil Ahuja © 2022 Copyright
    </div>
</footer>
</body>

</html>