<%- include("../partials/header") -%>
    <div class="main-body mx-4 my-12 flex">
        <div class="max-w-sm rounded overflow-hidden shadow-lg m-auto">
            <a href="/academic/online-lectures">
                <img class="w-full" src="/Images/academic_background.jpg" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Online Lectures</div>
                    <p class="text-gray-700 text-base">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                        perferendis
                        eaque, exercitationem praesentium nihil.
                    </p>
                </div>
            </a>
        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg m-auto">
            <a href="/academic/time-table">
                <img class="w-full" src="/Images/academic_background.jpg" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Time Table</div>
                    <p class="text-gray-700 text-base">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                        perferendis
                        eaque, exercitationem praesentium nihil.
                    </p>
                </div>
            </a>
        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg m-auto">
            <a href="/academic/notes-and-assignments">
                <img class="w-full" src="/Images/academic_background.jpg" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Notes and Assignments</div>
                    <p class="text-gray-700 text-base">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                        perferendis
                        eaque, exercitationem praesentium nihil.
                    </p>
                </div>
            </a>
        </div>
    </div>
    <%- include("../partials/footer") -%>