<%- include("../partials/header") -%>
    <div class="mx-4 my-12">
        <h1 class="font-semibold font-sans text-xl mx-14 text-center">Notes and Assignments</h1>
        <div class="mt-4 flex">
            <div class="max-w-sm rounded overflow-hidden shadow-lg m-auto">
                <a href="/academic/notes">
                    <img class="w-full" src="/Images/academic_background.jpg" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                        <div class="font-bold text-center text-xl mb-2">
                            Notes
                        </div>
                    </div>
                </a>
            </div>
            <div class="max-w-sm rounded overflow-hidden shadow-lg m-auto">
                <a href="/academic/assignments">
                    <img class="w-full" src="/Images/academic_background.jpg" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                        <div class="font-bold text-center text-xl mb-2">
                            Assignments
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <%- include("../partials/footer") -%>